---
import { sectionClass, seeMoreWorkClass } from "../styles/pages/index.css";

import Layout from "../layouts/Layout/Layout.astro";

import Work from "../components/Work/Work.astro";

import projects from "../../data/projects.json";
import about from "../../data/about.json";
---

<Layout
	title="Arthur Fontaine"
	description={about.content}
>
	<section class={sectionClass}>
		<h2>About me</h2>

		{
			about.content.split("\n").map((paragraph) => (
				paragraph.length > 0 && <p>{paragraph}</p>
			))
		}
	</section>

	<section class={sectionClass}>
		<h2>My featured work</h2>

		{
			projects.projects.map((project) => (
				<article>
					<Work project={project} />
				</article>
			))
		}

		<a href="https://github.com/arthur-fontaine/?tab=repositories" class={seeMoreWorkClass} target="_blank" rel="noopener noreferrer">
			See more projects on GitHub
		</a>
	</section>
</Layout>
