---
import {
	blogListClass,
	blogListItemClass,
	blogListItemLinkClass,
	blogListItemTitleClass,
	blogListItemDateClass,
	blogListItemTagsClass,
	sectionClass,
	seeMoreWorkClass,
} from "../styles/pages/index.css";

import Layout from "../layouts/Layout/Layout.astro";

import Work from "../components/Work/Work.astro";

import projects from "../../data/projects.json";
import about from "../../data/about.json";
import { getCollection } from "astro:content";

const blogPosts = (await getCollection("blog"))
	.filter((page) => page.data.language === "en")
	.map((page) => {
		return {
			title: page.data.title,
			slug: page.slug,
			date: page.data.date.toLocaleDateString("en"),
			description: page.data.description,
			tags: page.data.tags,
		};
	});
---

<Layout title="Arthur Fontaine" description={about.content}>
	<section class={sectionClass}>
		<h2>About me</h2>

		{
			about.content
				.split("\n")
				.map((paragraph) => paragraph.length > 0 && <p>{paragraph}</p>)
		}
	</section>

	<section class={sectionClass}>
		<h2>Blog</h2>

		<ul class={blogListClass}>
			{
				blogPosts.map((post) => (
					<li>
						<a href={`/blog/${post.slug}`} class={blogListItemLinkClass}>
							<article class={blogListItemClass}>
								<h1 class={blogListItemTitleClass}>{post.title}</h1>
								<div>
									<span class={blogListItemDateClass}>{post.date}</span>
									<span>{post.description}</span>
								</div>
								<div class={blogListItemTagsClass}>
									{post.tags.map((tag) => (
										<span>{tag}</span>
									))}
								</div>
							</article>
						</a>
					</li>
				))
			}
		</ul>
	</section>

	<section class={sectionClass}>
		<h2>My featured work</h2>

		{
			projects.projects.map((project) => (
				<article>
					<Work project={project} />
				</article>
			))
		}

		<a
			href="https://github.com/arthur-fontaine/?tab=repositories"
			class={seeMoreWorkClass}
			target="_blank"
			rel="noopener noreferrer"
		>
			See more projects on GitHub
		</a>
	</section>
</Layout>
